<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>Title</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h3>어리석었던 2017년 1월을 기억하며...</h3>
            <h6>2017 파이썬 연말 세미나</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
            <div class="twt-wrapper">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        지난 한 해 나를 반성합니다
                    </div>
                </div>
                <div class="panel-body">
                    <input type="text" class="form-control" placeholder="이름 혹은 닉네임"/>
                    <textarea class="form-control" placeholder="2017년 세웠던 계획을 적어주세요" rows="3"></textarea>
                    <br />
                    <a href="#" class="btn btn-primary btn-sm pull-right">작성하기</a>
                    <div class="clearfix"></div>
                    <hr />
                    <ul class="media-list">
                        <li class="media">
                            <div class="media-body">
                                <strong class="text-success">조성수</strong>
                                <span class="text-muted pull-right">
                                    <small class="text-muted">추천: 10</small>
                                </span>
                                <p>
                                    오버워치 골드까지 가겠다
                                </p>
                                <a href="#" class="btn btn-primary btn-sm pull-right">과한 꿈</a>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-body">
                                <strong class="text-success">김애영</strong>
                                <span class="text-muted pull-right">
                                    <small class="text-muted">추천: 5</small>
                                </span>
                                <p>
                                    이직을 하지 않겠다
                                </p>
                                <a href="#" class="btn btn-primary btn-sm pull-right">과한 꿈</a>
                            </div>
                        </li>
                        <li class="media">
                            <div class="media-body">
                                <strong class="text-success">김소연</strong>
                                <span class="text-muted pull-right">
                                    <small class="text-muted">추천: 1</small>
                                </span>
                                <p>
                                    파이썬을 주 개발 언어로 사용하겠다
                                </p>
                                <a href="#" class="btn btn-primary btn-sm pull-right">과한 꿈</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>